@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

/* Custom Range Slider Styling for Video Controls */
input[type=range] {
  -webkit-appearance: none;
  background: transparent; 
}

input[type=range]:focus {
  outline: none; 
}